.grid-item {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  font-weight: bolder;
  font-size: 1.5rem;
}

/* ============================== */

.grid-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: minmax(10rem, auto);
  grid-gap: 0.5rem;
  /* grid-template-areas:
  "header header"
  "sidebar content"
  "sidebar content"; */
}

.grid-item-1 {
  background-color: cornflowerblue;
  /* grid-area: header; */
  /* grid-column-start: 1;
  grid-column-end: 5; */
  /* grid-column: 1 / 3; */
  grid-column: span 2;
}
.grid-item-2 {
  background-color: peachpuff;
  /* grid-area: sidebar; */
  grid-row: 2 / 4;
}
.grid-item-3 {
  background-color: mediumaquamarine;
  /* grid-area: content; */
  grid-row: span 3;
}

.grid-item-4 {
  background-color: royalblue;
  /* grid-area: content; */
}

.grid-item-5 {
  background-color: darkgray;
  /* grid-area: content; */
}